
.topbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.topbar-nav {
    padding-bottom: 55px;
}
.topbar-line {
    border: none;
    border-top: 1.5px solid #D0D5DD;
    height: 1px;
    width: 100%;
    margin: 8px 0;
    flex: 0 0 auto;
}